@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
/* main Scss */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

input,
textarea,
select {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  display: block;
  max-width: 300px;
}

textarea {
  min-height: 5rem;
  min-width: 500px;
  resize: vertical;
}

button {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  padding: 1rem;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 6px;
  background-color: white;
}

/*  helpers */
.flex {
  display: flex;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.max-w-300 {
  max-width: 300px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  height: 40px;
  background-color: #000;
  padding: 0.1em;
}

.helpline {
  color: white;
}

.headLogo {
  height: 60px;
  width: 74px;
  margin: 0;
  font-size: 11px;
}

.headLogo img {
  height: 35px;
  padding-left: 14.5px;
}

.gridNav {
  background-color: #22224b;
  height: 72px;
  padding-top: 0.04rem;
  padding-left: 1.9rem;
  padding-right: 0.2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 3px 9px 0px rgb(5, 39, 53);
}

.headLogo {
  background-color: #4d4d9e;
  border-radius: 2.1rem;
}

.gridNav h5 {
  color: rgb(239, 153, 153);
  padding-left: 3.5px;
}

.gridNav h5 span {
  color: rgb(255, 250, 196);
}

.menuList {
  display: none;
  position: absolute;
  padding: 2.5px 0 2.5px 0;
  color: white;
  background-color: #4d4d9e;
  font-size: 0.9rem;
  text-align: left;
}

.menuList li:hover {
  color: rgb(227, 235, 186);
}

.hasSubmenu:hover {
  color: rgb(205, 0, 106);
}
.hasSubmenu:hover .menuList {
  display: block;
}

.hasSubmenu {
  color: white;
  position: relative;
  padding-right: 3rem;
  text-align: center;
  margin: 0;
}

.header {
  padding-bottom: 3rem;
  width: 100%;
}

/* Projektai Scss */
.projektas {
  height: 23.5rem;
  margin-top: 20px;
}

.card p {
  color: rgb(143, 143, 143);
}

.pojektoUzrasai {
  display: flex;
}

.proNoUzrasas {
  background-color: #ca1d61;
  color: white;
  padding: 4px 3px 4px 2px;
}

.projPlotas {
  background-color: #000;
  color: white;
  height: 30px;
}

.projAprasas {
  margin: 0;
  padding: 5px 3px 4px 2px;
}

.footerBlock {
  background-color: #343a40;
  color: #6c757d;
  height: 60vh;
}

.footLogo {
  height: 60px;
  width: 74px;
  margin: 0;
  font-size: 11px;
  background-color: #4d4d9e;
  border-radius: 2.1rem;
}

.footLogo img {
  height: 35px;
  padding-left: 14.5px;
}

.footLogo h5 {
  color: rgb(239, 153, 153);
  padding-left: 3.5px;
}

.footLogo h5 span {
  color: rgb(255, 250, 196);
}

.top-bar {
  display: none;
}

/* Media Scss */
body {
  background-color: #d9ece9;
}/*# sourceMappingURL=main.css.map */