// #343a40 sviesi #6c757d

.footerBlock {
  background-color: #343a40;
  color: #6c757d;
  height: 60vh;
}
.footLogo {
  height: 60px;
  width: 74px;
  margin: 0;
  font-size: 11px;
  background-color: #4d4d9e;
  border-radius: 2.1rem;
}
.footLogo img {
  height: 35px;
  padding-left: 14.5px;
}
.footLogo h5 {
  color: rgb(239, 153, 153);
  padding-left: 3.5px;
}
.footLogo h5 span {
  color: rgb(255, 250, 196);
}
