.top-bar {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-bar {
    display: block;
    padding-bottom: 4px;
    margin: 0;
  }
  .helpline {
    display: flex;
    height: 2rem;
  }
  .helpline li {
    padding-left: 9px;
  }
  .projektai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .projektas {
    height: 20rem;
    box-shadow: 2px 3px 9px 0px rgb(13, 71, 96);
  }
  .pojektoUzrasai h3 {
    height: 30px;
    font-size: 0.9em;
    padding-top: 0.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .projektas {
    height: 30rem;
  }
}
